.headerDocument {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0;

  &__home-img {
    width: 200px;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__user-img {
    width: 2.5rem;
  }
}
