.headerDocument {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0;

  &__search {
    height: 2rem;
    width: 250px;
    border-radius: 20px;
    padding: 0 1rem;
  }

  &__home-img {
    width: 200px;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__user-img {
    width: 2.5rem;
  }
}
