.inputField {
  position: relative;

  &:focus-within, &:active {
    .inputField__label {
      top: -1.5rem;
      bottom: auto;
      transform: none;
    }
  }

  &__label {
    position: absolute;
    left: 10px;
    top: 0.65rem;
    margin: auto;
    z-index: 1;
    transition: top 0.2s ease-in-out;
    pointer-events: none;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  &__text-input {
    position: relative;
    height: 2rem;
    width: 250px;
    border-radius: 20px;
    padding: 0 1rem;
    border-color: var(--soft-background);
    background-color: #f6f6f6;
  }
}
