.layout {
  width: 1030px;
  max-width: calc(100vw - 30px);
  margin: 15px auto;

  &__column {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  &--two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
