.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.error {
  color: var(--color-error);
}

.text {
  line-height: 2rem;
}

